
.ip_logo{
  margin: 3px;
  width: 51px;
   border-top: none;
}

.title_logo{
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}

#Header .main-menu .fulldrop ul  li a {
	text-transform: none !important;
}

.part-one{
	display: inline-block;
    float: left;
    width: 202px;
}

.about-drop{
	min-height: 248px !important;
	width: 843px !important;
}


.about-drop .first a{
	font-size: 16px !important;
}


.about-drop .description{
	width: 150px;
}


.about-drop{
/*visibility: visible !important;
opacity: 1 !important;
margin-top: 0px !important;
*/
	}
	.part-one {
		border-right: 1px solid #fff;
		height: 214px;
	}

	.part-one .leaf{
		width:  100% !important;
		margin: 0px !important;

	}

	.part-one .leaf:hover{
		background: #000 !important;
		cursor: pointer;
	}
	.part-one .leaf  a{
		padding: 10px !important;
	}
	.part-one .first:hover,.part-one .description:hover{
		background: none !important;
		cursor: auto;
	}
	.part-one .first  a{
		cursor:  default !important;
	}
	.part-one .description{
		padding: 10px !important;
		font-size: 12px !important;
		line-height: 20px;
	}


	#client_scroll{
		position: relative;
		left: 0px;
		top: 0px;
		width: 100%;
		  height: 100%;
		  background: rgba(4,106,121,0.1);
	}

	#client_scroll_inner{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;

	}

	#client_scroll  .owl-demo{
		position: absolute;
		bottom: 0px;
	}


	#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}



	#client_scroll2{
		position: relative;
		left: 0px;
		top: 91px;
		width: 100%;
		  height: 100%;
		  overflow: hidden;
	}

	#client_scroll_inner2{
		position: absolute;
		top: 0px;
		left: 10px;

		width: 200px;
		height: 100%;
      overflow: hidden;
	}

	#client_scroll2  #owl-demo{
		position: absolute;
		right: 0px;
	}

#client_scroll_inner2 img{
margin-bottom: 16px;

	}

	
body{
	overflow: hidden;
}


.call-us{
	position: absolute;
	font-size: 32px;
	top:120px;
	right: 10px;
	z-index: 60;
	color: #fff;
	line-height: 30px;
	text-align: right;
}

.caroufredsel_wrapper{
margin-top: 3px !important;
}


.slide {
    float: left;
    margin-left: 4px;
}

#client_scroll_inner {
    background: #c7d8da;
    height: 98px;
}