@charset "utf-8";

*{ margin:0; padding:0; box-sizing: border-box;}

html, body{ height:100%;}

h1, h2, h3, h4, h5, h6{ margin:0;}

.clear{ clear:both;}

::selection { background: #853691; color: #fff; }
::-moz-selection { background: #853691; color: #fff; }
::-webkit-selection { background: #853691; color: #fff; }

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: #000 url(../images/loader.svg) no-repeat center; background-size:200px 200px;}

body{ font-size:14px; font-family: 'Raleway', sans-serif; }

ul{ list-style:none; margin:0;}

.wrapper{ height:100%; padding-left:40px;}

.home{ position:relative; min-height:785px;}
#menu .navigation:after{
    display:block;
    content:"";
    clear:both;
}
#menu .navigation li ul {
    position: absolute;
    background:rgba(14,15,15,0.8);
    padding: 10px;
    width:250px;
    top:0;
    display: none;
    left: 100%;
    z-index:9999;
    text-align:center;
}
#menu .navigation li ul:after{
    display:block;
    content:"";
    clear:both;
}
#menu .navigation li:hover ul {
    display: block;
    z-index:999999;
}
_::-moz-svg-foreign-content, :root #menu .navigation li:hover ul {display:block; z-index:99999; left:100%;}
#menu .navigation li ul li {
    border-right: none;
    display:block; 
}
#menu .navigation li ul li {
    color: #fff;
    width: auto;
    height: auto;
    display:block;
    width:100%;
    text-align:left;
    /*	-ms-transform: rotate(-90deg) translate3d(-100%, 0, 0); /* IE 9 
            transform:rotate(-90deg) translate3d(-100%, 0, 0);
            height: 19% !important;*/
    line-height:25px;
    height:45px !important;
    margin:0;
    position:relative;
    z-index:999999;
}
#menu .navigation li ul li a{
    transform:none !important;
    -webkit-transform:none !important;
    -ms-transform:none !important;
    -o-transform:none !important;
    -moz-transform:none !important;
    width:100%;
    letter-spacing:1.2px;
    font-weight:600;
    border:none !important;
    margin:0 !important;
    display:block;
}
_::-moz-svg-foreign-content, :root #menu .navigation li ul li a{
    transform:none !important;
    -webkit-transform:none !important;
    -ms-transform:none !important;
    -o-transform:none !important;
    -moz-transform:none !important;
}
#menu{
    transition: all 250ms ease-out 0s; 
    -moz-transition: all 250ms ease-out 0s; 
    -ms-transition: all 250ms ease-out 0s; 
    -o-transition: all 250ms ease-out 0s; 
    -webkit-transition: all 250ms ease-out 0s; 
    position: fixed; 
    top: 0; 
    height: 100%; 
    z-index: 900; 
    width: 40px; 
    left:0;
}
#menu .navigation{
    transform: translate3d(0px, 0px, 0); 
    -moz-transform: translate3d(0px, 0px, 0); 
    -ms-transform: translate3d(0px, 0px, 0); 
    -o-transform: translate3d(0px, 0px, 0); 
    -webkit-transform: translate3d(0px, 0px, 0); 
    transition: all 300ms ease-in 500ms;
    -moz-transition: all 300ms ease-in 500ms;
    -ms-transition: all 300ms ease-in 500ms;
    -o-transition: all 300ms ease-in 500ms;
    -webkit-transition: all 300ms ease-in 500ms; 
    background: #0e0f0f; 
    height: 100%; 
    left: 0; 
    position: absolute; 
    top: 0; 
    vertical-align: middle;
    width: 40px; 
}
#menu .navigation li {
    display:block;
    height:16% !important;
    position:relative; 
    text-align: center;
    width: 100%;
    padding:7px 0px;
    transition:all 250ms linear;
    -moz-transition:all 250ms linear;
    -webkit-transition:all 250ms linear;
    -ms-transition:all 250ms linear;
    -o-transition:all 250ms linear;
}
#menu .navigation li a{
    font-size: 12px !important;
    letter-spacing: 2.4px;
    line-height: 37px;
    padding:0 6px;
    transform:rotate(-90deg) translate3d(-72%, 0, 0) !important;
    -moz-transform:rotate(-90deg) translate3d(-72%, 0, 0) !important;
    -ms-transform:rotate(-90deg) translate3d(-72%, 0, 0) !important;
    -o-transform:rotate(-90deg) translate3d(-72%, 0, 0) !important;
    -webkit-transform:rotate(-90deg) translate3d(-72%, 0, 0) !important;
    transition: all 250ms ease-out 0s; 
    -moz-transition: all 250ms ease-out 0s; 
    -ms-transition: all 250ms ease-out 0s; 
    -o-transition: all 250ms ease-out 0s; 
    -webkit-transition: all 250ms ease-out 0s;
    transform-origin: 0px 0px;
    color: #fff;
    font-weight:600; 
    left: 50%;
    position: static; 
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 50%;
    transform-origin: 0% 0%;
    color: rgba(255,255,255,0.50);
    outline:0px none; display:inline-block;
    vertical-align:middle; 
}
_::-moz-svg-foreign-content, :root #menu .navigation li a {
    display:block;
    -moz-transform:rotate(-90deg) !important;
    -ms-transform:rotate(-90deg) !important;
    -o-transform:rotate(-90deg) !important;
    -webkit-transform:rotate(-90deg) !important;
    transform:rotate(-90deg) !important;
}
.form_holder.box{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
    height:100%;
    width:519px;
}
.form_holder.box img{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
}
.form_holder .add{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    padding:0 6%;
    width:370px;
    margin:80px auto 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.form_holder .add .find_right span{color:#fff;}
.form_holder .add .find_right p a,
.form_holder .add .find_right{color:#fff;}
.head{
    overflow:hidden;
    padding:10px 0 0;
}
.head h2{
    color:#fff;
    text-transform:uppercase;
    font-size:40px;
    line-height:45px;
    font-weight:700;
    margin:0 0 50px;
    font-family:"Raleway",sans-serif;
}
.indentation{
    padding:0 0 130px;
    overflow:hidden;
}
/* form work */
.block .col{overflow:hidden;}
.block .col.mycolresponsive{
    height:100%;
}
.block .contact_finder{
    padding:0 558px 0 0;
    height:100%;
    width:100%;
    margin:0 0 0 40px;
    max-width:100%;
}
.block .contact_finder.add{ padding-top:10px; }
.add-block .contact_finder{
    width:100%;
    margin:0 0 0 100px;
    padding:80px 680px 0 0;

}
.block .for-wrap{
    overflow:hidden;
    height:100%;
}
.block .frame{
    overflow:hidden;
    height:85.5%;
    /*height:550px;*/
    width:100%;
}
.block .frame iframe{
    overflow:hidden;
    height:100%;
}

.block .frame #container {
    position:relative;
    width:100%;
    height:100%;
}
.block .frame #mapOverlay {
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
}
.block .frame #container > div{
    overflow:hidden;
    height:100%;
}
.captcha{
    float: right;
}


@media (max-width:1400px){
    #menu .navigation li a {
        font-size: 13px;
        letter-spacing: 1px;
    }
    .block .frame{height:87%;}
    .captcha{
        float: left;
    }
    .form_submit{
        float: right; 
    }
}
#menu .navigation li a:focus{ outline:0px none;}
#menu .navigation li.active { /*pointer-events: none; cursor: default;*/ cursor:pointer; }
#menu .navigation li.active a, #menu .navigation li:hover a { color: rgba(255,255,255,1);}

#menu .navigation li:nth-child(1).active ~ li.magicBar { transform: translateY(0) ;}
#menu .navigation li:nth-child(2).active ~ li.magicBar { transform: translateY(25%); top:20%}
#menu .navigation li:nth-child(3).active ~ li.magicBar { transform: translateY(50%); top:40%}
#menu .navigation li:nth-child(4).active ~ li.magicBar { transform: translateY(100%); top:50%}

#menu .navigation li.magicBar{ background: #fff; height: 16.4%; position: absolute; right: -1px; top: 0; transition: transform 0.3s ease 0s; width: 3px;}

.learn{ color: #ffffff; display: inline-block; font-size: 14px; font-weight: 900; line-height: 104px; text-align: center; text-decoration: none; text-indent: 0; width: 104px; position:relative;}
.learn:hover{ color: #ffffff; text-decoration:none;}
.learn svg{ width:100%; height:100%; position:absolute; top:0; left:0;}

.slider_img{ position:absolute; top:0px; left:0px; width:100%; background:url(../images/home-slider.jpg) no-repeat; background-size:cover; height:785px;}
.home_slider{ position:relative; z-index:1; }
.header{ text-align:center; padding:35px 0 155px 0; margin-left:-40px; position:relative;}
.header a.logo{ display:inline-block; vertical-align:top; margin:8px 0 0; }
.header span{ color:#fff; font-size:19px; float:right; font-weight:300; position:absolute; top:35px; right:30px;}
.header span a{ color:#fff; }

.slider_area{ text-align:center; text-transform:uppercase; text-indent:-120px; color:#fff; padding:0px 0px 80px;}
.slider_area h1{ font-weight:700; line-height:70px; font-size:50px; }
.slider_area p{ font-size:22px; margin:0 0 60px; }


.slider_bullets{ text-align:center;}
.slider_bullets a{ display:inline-block; margin:0px 7px; width:32px; height:32px; text-decoration:none; color:#010000; font-weight:700; background:#fff; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; font-size:25px; line-height:32px; 
                   transition:all linear 0.250s; -moz-transition:all linear 0.250s; -webkit-transition:all linear 0.250s;
                   transform: translate3d(0, -50%, 0) scale(0.4); -moz-transform: translate3d(0, -50%, 0) scale(0.4); -webkit-transform: translate3d(0, -50%, 0) scale(0.4); -o-transform: translate3d(0, -50%, 0) scale(0.4); -ms-transform: translate3d(0, -50%, 0) scale(0.4); transform-origin: 50% 50%; -moz-transform-origin: 50% 50%; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; -o-transform-origin: 50% 50%; color: transparent; overflow: hidden; position: relative; vertical-align: middle; z-index: 1; }
.slider_bullets a.active, .slider_bullets a:hover{ transform: translate3d(0, -50%, 0) scale(1); color: #000; background: #fff; }


.featured{ position:relative;}
.feature_pro{ margin:-1px 0 -1px -1px;}
.feature_pro ul li{ width:50%; float:left; overflow:hidden; padding:1px;}
.feature_pro ul li a{ display:block; position:relative; text-decoration:none; text-align:center;}
.feature_pro ul li a img{ width:100%;  /* Google Chrome, Safari 6+ & Opera 15+ */ transition:all linear 0.5s; -moz-transition:all linear 0.5s; -webkit-transition:all linear 0.5s;}
.feature_pro ul li a:hover img{  transform:scale(1.1); -moz-transform:scale(1.1); -webkit-transform:scale(1.1); -o-transform:scale(1.1); -ms-transform:scale(1.1);}
.feature_pro ul li a > span{ position:absolute; top:0; left:0; width:100%; height:0; display:block; font-size:30px; line-height:38px; color:#fff; 
                             top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);} 
.feature_pro ul li a span span{ display:block;}

.feature_pro ul li a:hover{ color:#fff;}

.feature_pro ul li:nth-child(2n+1){ clear:both;}
.feature_pro ul li:nth-child(2n){ padding-right:1px;}

.featured_details{ background:url(../images/8.jpg) no-repeat right center; background-size:cover; height:788px;}
.featured_left{ height:100%; position:relative; background:#fff; width:59.8%}
.featured_text_wrap{ position: absolute; top: 50%; padding: 77px 50px 20px 120px; left: 0px; width: 100%; /*max-height: 101%;*/
                     -moz-transform: translate3d(0, -50%, 0); -ms-transform: translate3d(0, -50%, 0); -o-transform: translate3d(0, -50%, 0); -webkit-transform: translate3d(0, -50%, 0); transform: translate3d(0, -50%, 0); }

.feature_head{ padding:0 0 35px;}
.feature_head h1{ line-height:60px; font-size:50px; font-weight:700; color:#000; text-transform:uppercase; padding:0px 0px 30px;}
.feature_head h1 span{ display:block; }
.feature_head p{ font-size:19px; font-weight:300; line-height:21px; margin:0;}
.feature_head p span{ display:block}
.feature_head:after{ content:""; display:block; width:100px; height:1px; background:#000; margin:30px 0 0;}

.feature_content{ padding:0 0 40px;}
.feature_content p{ line-height:21px; margin:30px 0 0; font-weight:300; font-size:19px; font-weight:300; text-align:justify;}
.feature_content p:first-child{ margin:0;}

.won_gold{}
.won_gold img{ display:inline-block; vertical-align:top;}
.won_gold span{ display:inline-block; vertical-align:top; margin-left:24px; font-size:19px; font-weight:300; line-height:139px; opacity:0.5; color:#000;}

.aboutUs{}
.aboutUs ul li{ float:left; width:33.33%; }
.about_product{ position:relative; overflow:hidden;}
.about_product span{ display:block; position:absolute; left:50%; margin-left:-49px; z-index:10}
.about_product span.arrow_Up{ width: 0; height: 0; border-left: 39px solid transparent; border-right: 39px solid transparent; border-bottom: 52px solid #c3c0c0; bottom:0;}
.about_product span.arrow_Down{ width: 0; height: 0; border-left: 39px solid transparent; border-right: 39px solid transparent; border-top: 52px solid #c3c0c0; top:0;}


.about_product img{ width:100%; height:100%; transition:all 750ms linear; -moz-transition:all 750ms linear; -webkit-transition:all 750ms linear; -ms-transition:all 750ms linear; -o-transition:all 750ms linear;}
.about_product:hover img{ transform:scale(1.1); -moz-transform:scale(1.1); -webkit-transform:scale(1.1); -o-transform:scale(1.1); -ms-transform:scale(1.1);}

.about_details{ background:#c3c0c0; position:relative;}
.about_details_inn{ transform: translateY(-20%); height:0; position:absolute; top:20%;}
.about_details_inn > div{ padding:0px 60px 100px;}
.about_details_inn > div:after{ content:""; display:block; clear:both; height:0;}

.about_details h2{ text-align:center; color:#fff; font-size:40px; font-weight:300; text-transform:capitalize; margin:0 0 40px;}
.about_details h2:after{ content:""; background:#fff; width:232px; height:1px; margin:8px auto 0; display:block;}
.about_details p{ margin:0 0 25px; color:#c3c0c0; font-size:15px; line-height:18px; font-weight:300; color:#fff; text-align:justify;}
.about_details p:last-child{ margin:0;}
.about_details p a{ font-size:20px; color:#fff; text-decoration:none;}



.horizon-slide .item .col{overflow:hidden;}
.contact_finder{ padding:130px 0 100px; margin:0 0 0 100px; float:left; width:65%;}
.frame{padding:0;}
.frame iframe{border:none;}
.contact_finder h1{ text-align:center; text-transform:uppercase; font-size:56px; color:#191918; padding:0 0 15px; font-weight:bold;}
.contact_finder p{ text-align:center; font-weight:300; font-size:20px; color:#191918; margin:0 0 60px}
.form_holder{
    float:right;
    width:25%;
    color:#fff;
    border-left:1px solid #bbb;
    margin:100px 0 0;
    padding:0 0 0 3%;
}
.form_area{ padding:0 0 30px;}
.form_field{ float:left; width:33.33%; padding-left:30px;}
.form_field input{ width:100%; height:48px; border:1px solid #cccccc; outline: none; background:#f6f6f6; padding:15px; line-height:46px; color:#777; text-transform:uppercase; font-family: 'Raleway', sans-serif; font-size:14px;}
.form_field:first-child{ padding:0;}
.form_area textarea{ outline: none; width:100%; height:200px; border:1px solid #cccccc; background:#f6f6f6; padding:20px 15px; resize:none; overflow:auto; color:#777; text-transform:uppercase; font-family: 'Raleway', sans-serif; font-size:14px;}
.form_submit{
    display: block;
    overflow: hidden;
    padding: 40px 0 0;
    text-align: right;
    width: 100%;
}
.contact_finder.add .form_submit{ padding:10px 0 0; }
.form_submit input[type="submit"]{ background:#853691; vertical-align:top; padding:0 40px 2px; line-height:48px; border:0px none; font-family:"Open Sans"; font-weight:700; font-size:14px; text-transform:uppercase; color:#fff;}
.bg {background:none; background-size:cover;}
.find_right span{ color:#829ce3;}
@media (max-width:1280px){
    .form_area{ padding:0 0 25px;}
    .contact_finder p{margin:0 0 25px;}
    .slider_area p{margin:0 0 30px; }
    .slider_area a.learn_more span{height:100px;}
    .slidesjs-pagination{top:43%;}
    .add-block .contact_finder{
        padding:30px 480px 0 0;
    }
    .form_holder .add{margin:50px auto 0; width:315px;}
    .form_holder.box{width:430px;}
    .block .contact_finder{padding:0 470px 0 0;}
    .add-block .contact_finder {
        padding: 0 570px 0 0;
    }
     
}
@media (min-width:768px){
    .bg {background:none; background-size:cover;}
    
}
.find_us{ padding:200px 0px 170px; background: none !important; font-family: 'Open Sans', sans-serif; }
.containe { margin: 0 60px 0 100px;}
.find_header{ text-align:center; color:#fff; padding:130px 0 60px;}
.find_header h1{ text-transform:uppercase; padding:0px 0px 18px; font-size:56px; font-weight:bold; font-family: 'Raleway', sans-serif;}
.find_header p{ font-size:16px; margin:0; }
.find_header p a{ color:#fff;}
.find_header p a:hover{ text-decoration:none; color:#fff;}


.find_details{ margin:0px auto; max-width:1170px;}
.find_it{ float:left; width:100%; padding:0 0 30px;} 
.find_it span.fa{ color:#fff; width:60px; height:64px; font-size:58px; line-height:58px; float:left; text-align:center;}
.find_it span.fa.fa-envelope{
    font-size:50px;
    line-height:50px;
    margin:-2px 0 0;
}
.find_right{ float:left; width:80%; padding-left:30px; color:#000;}
.find_right span{ color:#829ce3; font-size:18px; text-transform:uppercase; padding:0 0 20px; font-family:"Open Sans"; font-weight:700; display:block;}
.find_right p{ margin:0; font-size:14px;}
.find_right p a{ color:#000;}

footer{ border-top:1px solid hsl(0, 0%, 73%); width: 100%; padding:80px 0px 60px; margin:0px auto;  background: #fff; position: absolute; bottom:0;}
footer p{ display:inline-block; font-family:"Open Sans"; margin:0;}
footer p a{ color:#191918; text-decoration:none;}
footer p a:hover{ color:#191918; text-decoration:none;}
footer ul{ float:right; position:relative; z-index:9999;}
footer ul li{ float:left; padding-left:20px;}
footer ul li a{ display:block; color:#191918; font-size:14px; text-decoration:none;}
footer ul li a:hover{ color:#191918; text-decoration:none;}

.error,
.success{
    overflow: hidden;
    padding: 20px 0;
    border: 1px solid #853691;
    margin: 0 0 5px;
    background-color: #853691;	
}
.error p,
.success p{
    margin: 0;
    color:rgba(255,255,255,1.00);
}
.cross{
    float:right;
    margin-right:12px;
    color:rgba(255,255,255,1.00);
}

@media screen and (max-width:1500px){

    .about_details_inn{ top:30%;}
    .slider_area{ text-indent:0}
    .slider_area p{ font-size:20px;}

    .feature_pro ul li a > span{ top:40%;}
    .featured_text_wrap{ padding:40px 30px 20px;}
    .about_details h2{ font-size:30px; margin:0 0 20px;}

    .contact_finder{ padding:75px 0 0; max-width:950px;}
    .form_holder{ margin:75px 0 0;}
    .head {padding: 10px 0 0;}
    .contact_form{ padding:0px 30px;}

    footer{ width:100%; padding:40px 30px; padding-left: 60px;  }
    .find_us{ padding:70px 30px 100px;}

    .find_details{ max-width:950px;}

    .find_it{ width:100%; padding-left:20px;}
    .find_it span.fa{ text-align:center;}
    .find_right{ width:74%; padding-left:20px;}
    .head h2{margin:0 0 20px; font-size:40px; line-height:45px; text-align:center;}
    .captcha{
        float: right;
    }
    .form_submit{
        float: right; 
    }
}
@media screen and (max-width:1200px) {
    .about_details_inn {
        padding: 48px 0 0 32px;
        position: static;
    }
    .form_holder.box{width:270px;}
    .head{padding:0;}
    .form_holder .add{width:270px; margin:27px auto 0;}
    .block .contact_finder{padding: 0 380px 0 0;}
    .slider_area p{ padding: 0 20px;}
    .featured_text_wrap{ padding: 0 30px 20px;}
    .feature_content p{ font-size:14px; line-height:16px; margin:0 0 14px;} 
    .feature_head{ padding:0 0 25px;}
    .feature_head h1{ font-size:30px; line-height: 35px; padding:0 0 10px;}
    .feature_head h1 span{ display:inline; }
    .about_details_inn { top:26%;}
    .about_details_inn >div{ padding:0 9px 3px 17px; }
    .contact_finder{ max-width:950px;}
    .find_details{ max-width:768px;}
    .contact_finder{ max-width:750px;}
    .contact_finder h1{ font-size:40px;}
    .about_details h2{ font-size:21px;}

    .find_us{ padding:70px 30px;}
    .find_it{ padding-left:2%; text-align:center;}
    .find_it span.fa{ vertical-align:top; margin:0 0 20px; width: 65px;}
    .find_right{ padding:0; float:none; width:100%;}
    .find_right span{ padding:0 0 10px;}
    .form_holder{ width:30%;}
    .contact_finder{ width:60%;}
}
@media screen and (max-height:800px){
    .about_details_inn {
        padding: 48px 0 0 32px;
        position: static;
    }

    .slider_area p{ padding: 0 20px;}
    .featured_text_wrap{ padding: 0 30px 20px;}
    .feature_content p{ font-size:14px; line-height:16px; margin:0 0 14px;} 
    .feature_head{ padding:0 0 25px;}
    .feature_head h1{ font-size:30px; line-height: 35px; padding:0 0 10px;}
    .feature_head h1 span{ display:inline; }
    .about_details_inn { top:26%;}
    .about_details_inn >div{ padding:0 9px 3px 17px; }
    .contact_finder{ max-width:950px;}
    .find_details{ max-width:768px;}
    .contact_finder{ max-width:750px;}
    .contact_finder h1{ font-size:40px;}
    .about_details h2{ font-size:21px;}

    .find_us{ padding:70px 30px;}
    .find_it{ padding-left:2%; text-align:left;}
    .find_it span.fa{vertical-align:top; margin:0 0 20px;}
    .find_right{ padding:0 0 0 10px;}
    .find_right span{ padding:0 0 10px;}
    .feature_pro ul li{
        width: 100%;
        height: 185px;
    }
    .feature_pro ul li a img{
        height: auto;
        width: 100%;
        margin: -170px 0 0;
    }
    .feature_pro ul li a{
        width: 100%;
        height: 100%;
    }
    .feature_pro ul li a > span{
            top: 114%;
    }
    
}

@media screen and (max-width:992px){
    body {-webkit-overflow-scrolling: touch;}
    .header{ padding:20px 0 95px 0; margin:0;}
    .header a.logo{ margin:0 0 30px;}
    .header span{ float:none; display:block; text-align:center; position:static;}
    .slider_area h1{ font-size:35px;}
    .slider_area p{ font-size:18px;}
    .slider_bullets a{ font-size:20px;}
    .feature_pro ul li a > span{ font-size:21px;}



    .find_details{ max-width:750px;}

    .contact_finder{ max-width:750px;}
    .contact_finder p{ margin: 0 0 40px;}
    .contact_form{ padding:0 45px;}
    .find_header{ padding:0 0 40px;}
    .find_header h1{ font-size:40px; padding:0 0 10px;}
    .slidesjs-navigation {
        display: none;
    }
    .contact_finder{
        width:55%;
        padding:100px 0 0;
        margin:0 0 0 60px;
    }
    .find_it {padding: 0 0 50px;}
    .form_holder{
        margin:100px 0 0;
        width: 34%;
    }
    .form_field:first-child{ padding:0 0 15px;}
    .form_field{
        width:100%;
        padding:0 0 15px;
    }
    .form_submit{
        float: left;
        margin: 20px 0 0;
    }

    .block .frame{height:90%;}
    .add-block .contact_finder {
        padding: 30px 420px 0 0;
    }
    .contact_form{padding:0;}
    
    .feature_pro ul li{
        width: 100%;
        height: 240px;
    }
    .feature_pro ul li a img,
    .feature_pro ul li a{
        width: 100%;
        height: 100%;
    }
.contact_finder.add h1{ padding:0 0 15px; }
.contact_finder.add p{ margin:0 0 15px;}
.contact_finder.add .form_area{ padding:0;}
.contact_finder.add .form_area textarea{ margin:0 0 10px; }
.contact_finder.add .form_field:first-child{ padding:0 0 10px;}
.contact_finder.add .form_field{ padding:0 0 10px; }

}
@media screen and (min-width:768px){
    .sub-menu, .left-menu {
        display: none !important;
    }
    .menu-open .content {
        -moz-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        -webkit-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
    .content {
        overflow: visible !important;
    }
    .mobie {
        display: none;
    }
    
}
@media screen and (max-width:767px){
    .block .contact_finder{width:100%;}
    .form_holder.box{
        width:100%;
        position:relative;
    }
    .add-block .contact_finder{
        margin:0;
        padding:30px;
    }
    .form_holder .add{
        margin:0 auto;
        padding:40px 45px 25px;
    }
    .head{position:relative;}
    .head h2{
        font-size:24px;
        line-height:27px;
    }
    .block .for-wrap{
        overflow:visible;
    }
    .form_holder .add{position:static; width:320px;}
    .find_details{
        position:relative;
        z-index:100;
    }

    .captcha{
        float: left;
    }
    .form_submit{
        float: left; 
    }

    .bg{z-index:-2;}
    .sub-menu section .list li {
        padding-bottom: 10px;
        text-align:center;
    }
    #yw1 ul li a {
        color: #bfbdbd;
    }
    #yw1 ul li a.active {
        color: #817d7d;
    }
    #yw1  ul {
        display: block;
        margin-top: 10px;
        padding-left: 10px;
    }
    .aboutUs ul li {
        width: 100%;
        float: none;
    }
    .about_details {
        height: auto !important;
    }
    .sub-menu section .list li a {
        font-size: 13px;
    }
    .sub-menu section {
        padding:0;
        background:rgba(0,0,0,0.85)
    }
    .desktop {
        display: none;
    }
    .slidesjs-pagination {
        top: 135%;
    }
    .home-content {
        overflow: visible !important;
    }    
    .gallery-page, .home-page, .window-height {
        overflow-y: auto;
        min-height: 100%;

    }
    .sub-menu section .title {
        padding-bottom: 45px;
    }
    .left-menu {
        width: 26px;

    }
    #home {
        position: relative;
    }
    .sub-menu, .left-menu  {
        display: block !important;
        z-index: 999 !important;
    }

    #menu {
        display: none;
    }
    .featured_text_holder {
        padding-left: 15px;
    }

    .content  {
        position: static;
        overflow-y: auto;
        min-height: 100;

    }
    footer {
        position: static;
    }
    .content__item {
        position: static;
        min-height: 100%;
    }
    .horizon-slide.featureOne .item.left {
        transform: translate(0%, 0%);

    }
    .home{ min-height:700px;}
    .slider_img{ height:700px;}
    .header{ padding:20px 0;}
    .header span{ font-size:22px;}

    .find_us{ padding:30px 15px;}
    .find_header h1{ font-size:30px;}
    footer{ width:100%; padding:20px 15px;}
    footer p{ display:block; text-align:center; padding:0 0 20px;}
    footer ul{ display:block; text-align:center; float:none;}
    footer ul li{ display:inline-block; vertical-align:top; float:none; padding:0; margin:0 5px;}

    .contact_finder{ width:100%; padding:30px 0;}
    .find_details{ max-width:none; width:100%;}

    .form_area{ padding:0 0 20px;}
    .contact_finder h1{ font-size:30px;}
    .contact_finder p{ font-size:16px; margin:0 0 20px;}
    .form_field{ float:none; width:100%; margin:20px 0 0; padding:0;}
    .form_field:first-child{ margin:0;}
    .form_submit{ padding:0;}
    .slider_area h1{ font-size:30px; padding:0;}
    .slider_area p{ font-size:15px; margin:0 0 30px;}

    .feature_pro{ margin:0;}
    .feature_pro ul li{ float:none; width:100%;}
    .feature_pro ul li:nth-child(2n){ padding-right:1px;}
    .feature_pro ul li:nth-child(2n+1){ clear:none;}

    .featured_details{ background:none; height:auto !important;}
    .featured_left{ height:auto; width:100%;}
    .featured_text_wrap{ padding:20px 15px; position:relative;  -webkit-transform: none;
                         transform: none;}

    .about_details_inn{ transform:none; height: auto; position:static; }
    .about_details_inn > div{ padding:20px 15px;}

    .about_product span{ margin-left:-20px;}
    .about_product span.arrow_Up{ border-bottom: 32px solid #c3c0c0; border-left: 20px solid rgba(0, 0, 0, 0); border-right: 20px solid rgba(0, 0, 0, 0);} 
    .about_product span.arrow_Down{ border-left: 20px solid rgba(0, 0, 0, 0); border-right: 20px solid rgba(0, 0, 0, 0); border-top: 32px solid #c3c0c0;}

    .slider_bullets a{ width:20px; height:20px; font-size:14px; line-height:20px; margin:0 2px;}
    .contact_finder{ margin:0;}
    .form_holder{
        width:80%;
        border:none;
        margin:30px 0 0;
    }
    .my_form,	
    .myfooter{ display:none;}
    .footer_responsive{ display:block}
    .bg{ position:relative;}
    .mycolresponsive{
        position:relative;
        width:100%;
        height:620px;
        bottom:0;
        left:0;
    }
    footer{position:absolute;}
}
@media screen and (max-width:640px){

    .header a.logo{ max-width:80%; margin:0 0 30px 0px;}
    .header span{ font-size:14px;}
    .slider_area h1{ line-height:38px; padding: 0 0 30px;}
    .find_header h1{ font-size:30px;}

    .slider_area p{ padding: 0 15px;}

    .find_it{ float:none; width:100%; margin:40px 0 0; padding:0;}
    .find_it:first-child{ margin:0;}
    .find_header p{ font-size:14px;}

    .contact_finder h1{ font-size:24px;}
    .contact_finder p{ padding:0 15px; font-size:14px;}

    .form_field input{ height:40px; line-height:40px; font-size:14px; padding:8px 15px;}

    .feature_pro ul li a > span{ font-size:18px; line-height:24px;}

    .feature_head{ text-align:center;}
    .feature_head::after{ text-align:center; display:inline-block;}

    .won_gold{ text-align:center;}
    .won_gold img{ margin:0 0 20px;}
    .won_gold span{ margin: 0; display:block; line-height:32px;}

    .feature_head h1{ font-size:24px; line-height:32px;}
    .feature_head p{ font-size:16px; line-height:22px;}

    .feature_content p{ margin:14px 0 0;}


    .about_details h2{ font-size:24px;}
    .about_details p a{ font-size:16px;}
    .about_details h2::after{ width:70%;}

    .se-pre-con { background-size:100px 100px;}

}
@media screen and (max-width:479px){
    #yw1 ul{margin-top:5px;}
    .sub-menu section .title {padding-bottom: 15px;}
    .sub-menu section .title::after{ top:15px;}
    .sub-menu section .list li {padding-bottom: 3px ;}
    .sub-menu section .list li a {font-size: 11px;}
    .no-touch .sub-menu section .list li a:hover::before{top:16px;}
    .no-touch .sub-menu section .list li a:hover::after{top:-3px;}
}
@media only screen and (min-width:1024px){
   .tel{pointer-events: none;}
}